@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.app-header__heading {
  text-align: center;

  &--static {
    display: block;
    font-family: 'Roboto Slab', sans-serif;
    font-size: clamp(2rem, 4vw, 4rem);
    font-weight: 400;
    margin-bottom: 1em;
  }

  &--animated {
    display: inline-block;
    font-family: 'Roboto Mono', monospace;
    font-size: clamp(2rem, 4vw, 3rem);
    font-weight: 300;
    position: relative;

    &::before {
      content: '';
      display: inline-block;
      height: 100%;
      width: 0.0625rem;
    }

    &::after {
      animation: blink infinite alternate steps(2, jump-none) 0.5s;
      background-color: gray;
      content: '';
      height: 100%;
      min-width: 0.0625rem;
      position: absolute;
      right: -0.125rem;
      top: 0;
      width: 0.125rem;
    }
  }
}
